<md-list class="list-group">

    <md-list-item ng-repeat="singlePokemon in $ctrl.pokemons" class="md-2-line">
        <div class="md-list-item-text" layout="column">

            <pokemon-list-item pokemon="singlePokemon" ></pokemon-list-item>

        </div>

    </md-list-item>

</md-list>
